:root {
  /* Colors */
  --color-dark: #000;
  --color-dark-blue: #001474;
  --color-light-blue: #112fdd;
  --color-white: #fff;
  --color-light-red: #f73a1d;
  --color-dark-red: #a71f0a;
  --color-body-bg: #eeeeee38;
  --color-description: #000000a1;

  /* Fonts */
  --global-font-size: 62.5%;
  --global-font-family: "PT Sans", sans-serif;
  --inner-font: sans-serif;

  --line-height: 1.7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  line-height: var(--line-height);
  background-color: var(--color-body-bg);
}

header {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted var(--color-light-blue);
  background-color: #fff;
}

nav {
  margin: 0 2rem 0 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

nav .logo h4,
nav .date {
  color: var(--color-dark-blue);
}

nav .date p {
  font-size: 1rem;
  text-transform: capitalize;
}

nav .date .year {
  font-weight: 700;
  font-style: italic;
}

.budget__display .budget__value {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--inner-font);
}

.budget__incexp {
  margin: 1.5rem 0;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

.budget__incexp > :not(:last-child) {
  margin-right: 1rem;
}

.budget__incexp .budget__income,
.budget__incexp .budget__expense {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.budget__incexp .budget__income {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.budget__incexp .budget__expense {
  color: var(--color-white);
  background-color: var(--color-light-red);
}

.budget__expense-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.budget__expense-box .budget__expense-percentage {
  background-color: var(--color-dark-red);
  padding: 0 0.1rem;
  min-width: 35px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  font-family: var(--inner-font);
}

.budget__form {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form > :not(:last-child) {
  margin-right: 0.2rem;
}

.form .type__input,
.form .description__input,
.form .amount__input {
  font-size: 1rem;
  font-family: var(--global-font-family);
  padding: 0.5rem 0.7rem;
  border: 1px solid #bebebe;
  outline: none;
  background-color: #fff;
  color: #585858;
  border-radius: 5px;
  transition: border 0.3s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form .type__input:focus,
.form .description__input:focus,
.form .amount__input:focus {
  border: 1px solid var(--color-light-blue);
  outline: none;
}

.form ::-webkit-input-placeholder {
  color: #bebebe;
}

.form .description__input {
  width: 400px;
}

.form button {
  font-size: 2.1rem;
  color: var(--color-light-blue);
  cursor: pointer;

  outline: none;
  border: none;
  background: none;
}

.form button:active {
  transform: translateY(1px);
}

.budget__output-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.budget__output-income .budget__output-income-text,
.budget__output-expense .budget__output-expense-text {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.budget__output-income .budget__output-income-text {
  color: var(--color-dark-blue);
}

.budget__output-expense .budget__output-expense-text {
  color: var(--color-dark-red);
}

.budget__output-income-lists,
.budget__output-expense-lists {
  width: 500px;
}

.budget__output-income-lists .budget__output-income-list,
.budget__output-expense-lists .budget__output-expense-list {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
  padding: 0 0.5rem;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget__output-income-list-item,
.budget__output-expense-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.budget__output-income-val,
.btn-delete-icon {
  color: var(--color-light-blue);
  transition: all 0.2s linear;
}

.btn-delete-icon:hover {
  transform: translateX(10px);
}

.budget__output-expense-val,
.btn-delete-icon {
  color: var(--color-light-red);
}

.btn-delete-icon {
  margin-left: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.1rem;
}

.budget__output-income-lists > :not(:last-child),
.budget__output-expense-lists > :not(:last-child) {
  margin-bottom: 0.3rem;
}

.budget__output-income-lists > :nth-child(even) {
  background-color: #dfdfdf4b;
}

.budget__output-income-desc,
.budget__output-expense-desc {
  color: var(--color-description);
}

.budget__output-expense-percentage {
  background-color: var(--color-dark-red);
  padding: 0 0.1rem;
  min-width: 35px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  font-family: var(--inner-font);
  color: var(--color-white);
}

.red {
  color: var(--color-light-red);
}

.red-focus:focus {
  border: 1px solid var(--color-light-red);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8rem;
  font-family: var(--global-font-family);
  color: var(--color-description);
  font-size: 1rem;
  padding: 2rem 1rem;
}

footer .author__profile a {
  text-decoration: none;
  transition: all 0.3s linear;
  color: var(--color-description);
}

footer .author__profile a:hover {
  color: var(--color-white);
  border-radius: 100px;
  background-color: var(--color-dark);
  padding: 0.2rem 0.7rem;
}
